<?xml version="1.0" encoding="utf-8"?>
<nlog p1:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" xmlns:p1="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <variable name="applicationName" value="TrendyolApp.WindowsService"/>
  <variable name="logFilePath" value="C:\@Logs\${shortdate}-${level}-${applicationName}.txt" />
  <variable name="seperator" value="********************************" />
  <variable name="defaultLayout" value="${longdate} ${level:upperCase=true}: ${message}" />
  <variable name="errorLayout" value="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}" />
  <targets async="true">
    <target name="InfoFile" p1:type="File" layout="${defaultLayout}" filename="${logFilePath}" concurrentWrites="false" />
    <target name="DebugFile" p1:type="File" layout="${defaultLayout}" filename="${logFilePath}" concurrentWrites="false" />
    <target name="WarnFile" p1:type="File" layout="${errorLayout}" filename="${logFilePath}" concurrentWrites="false" />
    <target name="ErrorFile" p1:type="File" layout="${errorLayout}" filename="${logFilePath}" concurrentWrites="false" />
    <target name="FatalFile" p1:type="File" layout="${errorLayout}" filename="${logFilePath}" concurrentWrites="false" />
  </targets>
  <rules>
    <logger name="*" levels="Info" writeTo="InfoFile" />
    <logger name="*" levels="Debug" writeTo="DebugFile" />
    <logger name="*" levels="Warn" writeTo="WarnFile" />
    <logger name="*" levels="Error" writeTo="ErrorFile" />
    <logger name="*" levels="Fatal" writeTo="FatalFile" />
  </rules>
</nlog>