@using Domain.Objects
@model MvcApplication.Models.QuerySamplesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Samples</h2>

<div class="row">
    <div class="col-md-12">
        @if (Model.Samples.HasElements())
            {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>İsim</th>
                        <th>Zaman</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Sample sample in Model.Samples)
                    {
                        <tr>
                            <td>@sample.Id</td>
                            <td>@sample.Name</td>
                            <td>@sample.CreatedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
